<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header" class="header navbar-fixed-top">
    <!-- header code -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/sample/say">
                <img src="/images/logo.png" alt="logo" class="logo d-inline-block align-text-top">
            </a>
            <!-- navbar toggle button 왜 있는지 모름 -> 공식에서 레퍼 따온 코드 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- -->
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link menu" aria-current="page" href="/sample/say2">회사 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="#">시공 사례</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="#">온라인 견적 문의</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</html>